
.menu_always_open,
.horizontal_menu,
.additional_menu,
.fixed-panel-top,
.minify_css,
.minify_js{
	display:none;
}
.menu_always_open.active,
.horizontal_menu.active,
.fixed-panel-top.active,
.additional_menu.active,
.minify_css.active,
.minify_js.active {
	display:table-row;
}

.list-unstyled {
	list-style:none;
	padding-left:0px;
}

.well-sm {
  border-radius: 2px;
  padding: 9px;
}
.well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.vtabs a i, .vtabs span i, .vtabs span{
  cursor: pointer;
  position: relative;
}
table.form {
  border-spacing: 0;
  border-collapse: collapse;
}


.input-group {
  border-collapse: separate;
  display: table;
  position: relative;
}

.input-group .form-control:first-child,
.input-group-addon:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group-addon, .input-group .form-control{
  display: table-cell;
}
.input-group .form-control {
  float: left;
  margin-bottom: 0;
  width: 100%;
}
.input-group .form-control:last-child,
.input-group-addon:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-addon {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 6px 12px;
  text-align: center;
}
.input-group-addon {
  vertical-align: middle;
  white-space: nowrap;
  width: 1%;
}
.input-group-addon,.input-group .form-control-callback {
  display: table-cell;
}
.input-group-addon:last-child {
  border-left: 0 none;
}
.form-control {
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #ccc ;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 13px;
  height: 30px !important;
  line-height: 1.42857;
  padding: 6px 8px !important;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  margin-top:0px;
  box-sizing: border-box;
}

.form-control:hover, .form-control:focus {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
table.form > tbody > tr > td:first-child {
  font-size: 14px;
  text-align:right;
}
table.form > tbody > tr > td.title-setting {
	font-size:18px;
	color:orange;
	text-align:left;
}

.tab-content {
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  margin-bottom: 20px;
  margin-top: 1px;
  overflow: auto;
  padding: 10px;
  z-index: 2;
}
.htabs {
  border-bottom: 1px solid #dddddd;
  height: 45px;
  line-height: 16px;
}
.htabs a {
  background: #f5f5f5;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  color: #000000;
  display: none;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-right: 5px;
  margin-top: 7px;
  padding: 13px 15px 10px;
  text-align: center;
  text-decoration: none;
  margin-top:5px;
  border-radius:5px 5px 0px 0px;
}
.htabs a.selected {
	background: #ffffff none repeat scroll 0 0;
	line-height: 16px;
	margin-top: 0;
	padding-bottom: 12px;
	padding-top: 17px;
}
.input-sort-category {
	width:30px;
	display:inline-block;
	text-align:center;
}
.input-sticker-category {
	width:85px;
	display:inline-block;
	text-align:center;
	margin-right:5px;
}
.row-category-menu {
	text-align:left;
}
.btn-danger,.remove_menu_item {
	cursor:pointer;
}
.btn-danger:hover,.remove_menu_item:hover {
	cursor:pointer;
	color:#E81123;
}
.vtabs span .fa.fa-plus-circle:hover {
	color:#63E512
}
.proditem {
	padding:3px 0px;
}
.fixed-btn-top {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  overflow: auto;
  padding: 10px 12px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
.btn {
	 -moz-user-select: none;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 4px 8px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-decoration:none;
	overflow:hidden;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active{
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
  
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active{
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
#loading_megamenu {
	position: fixed;
	width: 400px;
	line-height: 40px;
	margin-top: -25px;
	margin-left: -200px;
	left: 50%;
	top: 50%;
	padding-left: 0px;
	display: none;
	text-align: center;
	z-index: 1042;
}
.mfp-bg-megamenu {
  opacity: 0.25;
  filter: alpha(opacity=80); 
}
  
.letter_save span {
	background-color: rgb(92, 184, 92);
	text-shadow: 1px 1px rgb(80, 160, 80), 2px 2px rgb(80, 160, 80), 3px 3px rgb(80, 160, 80), 4px 4px rgb(80, 160, 80), 5px 5px rgb(80, 160, 80), 6px 6px rgb(80, 160, 80), 7px 7px rgb(80, 160, 80), 8px 8px rgb(80, 160, 80), 9px 9px rgb(80, 160, 80), 10px 10px rgb(80, 160, 80), 11px 11px rgb(80, 160, 80), 12px 12px rgb(80, 160, 80), 13px 13px rgb(80, 160, 80), 14px 14px rgb(80, 160, 80), 15px 15px rgb(80, 160, 80), 16px 16px rgb(80, 160, 80), 17px 17px rgb(80, 160, 80), 18px 18px rgb(80, 160, 80), 19px 19px rgb(80, 160, 80), 20px 20px rgb(80, 160, 80), 21px 21px rgb(80, 160, 80), 22px 22px rgb(80, 160, 80), 23px 23px rgb(80, 160, 80), 24px 24px rgb(80, 160, 80), 25px 25px rgb(80, 160, 80), 26px 26px rgb(80, 160, 80), 27px 27px rgb(80, 160, 80), 28px 28px rgb(80, 160, 80), 29px 29px rgb(80, 160, 80), 30px 30px rgb(80, 160, 80), 31px 31px rgb(80, 160, 80), 32px 32px rgb(80, 160, 80), 33px 33px rgb(80, 160, 80), 34px 34px rgb(80, 160, 80), 35px 35px rgb(80, 160, 80), 36px 36px rgb(80, 160, 80), 37px 37px rgb(80, 160, 80), 38px 38px rgb(80, 160, 80), 39px 39px rgb(80, 160, 80), 40px 40px rgb(80, 160, 80), 41px 41px rgb(80, 160, 80);
	height: 100%;
	width: 100%;
	font-size: 12px;
	text-align: center;
}
.letter_save:hover span,
.letter_save:focus span,
.letter_save.focus span,
.letter_save:active span,
.letter_save.active span{
	 background-color: rgb(68, 157, 68);
	text-shadow: 1px 1px rgb(59, 137, 59), 2px 2px rgb(59, 137, 59), 3px 3px rgb(59, 137, 59), 4px 4px rgb(59, 137, 59), 5px 5px rgb(59, 137, 59), 6px 6px rgb(59, 137, 59), 7px 7px rgb(59, 137, 59), 8px 8px rgb(59, 137, 59), 9px 9px rgb(59, 137, 59), 10px 10px rgb(59, 137, 59), 11px 11px rgb(59, 137, 59), 12px 12px rgb(59, 137, 59), 13px 13px rgb(59, 137, 59), 14px 14px rgb(59, 137, 59), 15px 15px rgb(59, 137, 59), 16px 16px rgb(59, 137, 59), 17px 17px rgb(59, 137, 59), 18px 18px rgb(59, 137, 59), 19px 19px rgb(59, 137, 59), 20px 20px rgb(59, 137, 59), 21px 21px rgb(59, 137, 59), 22px 22px rgb(59, 137, 59), 23px 23px rgb(59, 137, 59), 24px 24px rgb(59, 137, 59), 25px 25px rgb(59, 137, 59), 26px 26px rgb(59, 137, 59), 27px 27px rgb(59, 137, 59), 28px 28px rgb(59, 137, 59), 29px 29px rgb(59, 137, 59), 30px 30px rgb(59, 137, 59), 31px 31px rgb(59, 137, 59), 32px 32px rgb(59, 137, 59), 33px 33px rgb(59, 137, 59), 34px 34px rgb(59, 137, 59), 35px 35px rgb(59, 137, 59), 36px 36px rgb(59, 137, 59), 37px 37px rgb(59, 137, 59), 38px 38px rgb(59, 137, 59), 39px 39px rgb(59, 137, 59), 40px 40px rgb(59, 137, 59), 41px 41px rgb(59, 137, 59);
	height: 100%;
	width: 100%;
	font-size: 12px;
	text-align: center;
}
.letter_primary span {
	background-color: rgb(51, 122, 183);
	text-shadow: 1px 1px rgb(44, 106, 159), 2px 2px rgb(44, 106, 159), 3px 3px rgb(44, 106, 159), 4px 4px rgb(44, 106, 159), 5px 5px rgb(44, 106, 159), 6px 6px rgb(44, 106, 159), 7px 7px rgb(44, 106, 159), 8px 8px rgb(44, 106, 159), 9px 9px rgb(44, 106, 159), 10px 10px rgb(44, 106, 159), 11px 11px rgb(44, 106, 159), 12px 12px rgb(44, 106, 159), 13px 13px rgb(44, 106, 159), 14px 14px rgb(44, 106, 159), 15px 15px rgb(44, 106, 159), 16px 16px rgb(44, 106, 159), 17px 17px rgb(44, 106, 159), 18px 18px rgb(44, 106, 159), 19px 19px rgb(44, 106, 159), 20px 20px rgb(44, 106, 159), 21px 21px rgb(44, 106, 159), 22px 22px rgb(44, 106, 159), 23px 23px rgb(44, 106, 159), 24px 24px rgb(44, 106, 159), 25px 25px rgb(44, 106, 159), 26px 26px rgb(44, 106, 159), 27px 27px rgb(44, 106, 159), 28px 28px rgb(44, 106, 159), 29px 29px rgb(44, 106, 159), 30px 30px rgb(44, 106, 159), 31px 31px rgb(44, 106, 159), 32px 32px rgb(44, 106, 159), 33px 33px rgb(44, 106, 159), 34px 34px rgb(44, 106, 159), 35px 35px rgb(44, 106, 159), 36px 36px rgb(44, 106, 159), 37px 37px rgb(44, 106, 159), 38px 38px rgb(44, 106, 159), 39px 39px rgb(44, 106, 159), 40px 40px rgb(44, 106, 159), 41px 41px rgb(44, 106, 159);
	height: 100%;
	width: 100%;
	font-size: 12px;
	text-align: center;
}
.letter_primary:hover span,
.letter_primary:focus span,
.letter_primary.focus span,
.letter_primary:active span,
.letter_primary.active span{
	background-color: rgb(40, 96, 144);
	text-shadow: 1px 1px rgb(35, 84, 125), 2px 2px rgb(35, 84, 125), 3px 3px rgb(35, 84, 125), 4px 4px rgb(35, 84, 125), 5px 5px rgb(35, 84, 125), 6px 6px rgb(35, 84, 125), 7px 7px rgb(35, 84, 125), 8px 8px rgb(35, 84, 125), 9px 9px rgb(35, 84, 125), 10px 10px rgb(35, 84, 125), 11px 11px rgb(35, 84, 125), 12px 12px rgb(35, 84, 125), 13px 13px rgb(35, 84, 125), 14px 14px rgb(35, 84, 125), 15px 15px rgb(35, 84, 125), 16px 16px rgb(35, 84, 125), 17px 17px rgb(35, 84, 125), 18px 18px rgb(35, 84, 125), 19px 19px rgb(35, 84, 125), 20px 20px rgb(35, 84, 125), 21px 21px rgb(35, 84, 125), 22px 22px rgb(35, 84, 125), 23px 23px rgb(35, 84, 125), 24px 24px rgb(35, 84, 125), 25px 25px rgb(35, 84, 125), 26px 26px rgb(35, 84, 125), 27px 27px rgb(35, 84, 125), 28px 28px rgb(35, 84, 125), 29px 29px rgb(35, 84, 125), 30px 30px rgb(35, 84, 125), 31px 31px rgb(35, 84, 125), 32px 32px rgb(35, 84, 125), 33px 33px rgb(35, 84, 125), 34px 34px rgb(35, 84, 125), 35px 35px rgb(35, 84, 125), 36px 36px rgb(35, 84, 125), 37px 37px rgb(35, 84, 125), 38px 38px rgb(35, 84, 125), 39px 39px rgb(35, 84, 125), 40px 40px rgb(35, 84, 125), 41px 41px rgb(35, 84, 125);
	height: 100%;
	width: 100%;
	font-size: 12px;
	text-align: center;
}
.letter_default span {
	background-color: rgb(255, 255, 255);
	text-shadow: 1px 1px rgb(222, 222, 222), 2px 2px rgb(222, 222, 222), 3px 3px rgb(222, 222, 222), 4px 4px rgb(222, 222, 222), 5px 5px rgb(222, 222, 222), 6px 6px rgb(222, 222, 222), 7px 7px rgb(222, 222, 222), 8px 8px rgb(222, 222, 222), 9px 9px rgb(222, 222, 222), 10px 10px rgb(222, 222, 222), 11px 11px rgb(222, 222, 222), 12px 12px rgb(222, 222, 222), 13px 13px rgb(222, 222, 222), 14px 14px rgb(222, 222, 222), 15px 15px rgb(222, 222, 222), 16px 16px rgb(222, 222, 222), 17px 17px rgb(222, 222, 222), 18px 18px rgb(222, 222, 222), 19px 19px rgb(222, 222, 222), 20px 20px rgb(222, 222, 222), 21px 21px rgb(222, 222, 222), 22px 22px rgb(222, 222, 222), 23px 23px rgb(222, 222, 222), 24px 24px rgb(222, 222, 222), 25px 25px rgb(222, 222, 222), 26px 26px rgb(222, 222, 222), 27px 27px rgb(222, 222, 222), 28px 28px rgb(222, 222, 222), 29px 29px rgb(222, 222, 222), 30px 30px rgb(222, 222, 222), 31px 31px rgb(222, 222, 222), 32px 32px rgb(222, 222, 222), 33px 33px rgb(222, 222, 222), 34px 34px rgb(222, 222, 222), 35px 35px rgb(222, 222, 222), 36px 36px rgb(222, 222, 222), 37px 37px rgb(222, 222, 222), 38px 38px rgb(222, 222, 222), 39px 39px rgb(222, 222, 222), 40px 40px rgb(222, 222, 222), 41px 41px rgb(222, 222, 222);
	height: 100%;
	width: 100%;
	font-size: 12px;
	text-align: center;
}
.letter_default:hover span,
.letter_default:focus span,
.letter_default.focus span,
.letter_default:active span,
.letter_default.active span{
	background-color: rgb(230, 230, 230);
	text-shadow: 1px 1px rgb(200, 200, 200), 2px 2px rgb(200, 200, 200), 3px 3px rgb(200, 200, 200), 4px 4px rgb(200, 200, 200), 5px 5px rgb(200, 200, 200), 6px 6px rgb(200, 200, 200), 7px 7px rgb(200, 200, 200), 8px 8px rgb(200, 200, 200), 9px 9px rgb(200, 200, 200), 10px 10px rgb(200, 200, 200), 11px 11px rgb(200, 200, 200), 12px 12px rgb(200, 200, 200), 13px 13px rgb(200, 200, 200), 14px 14px rgb(200, 200, 200), 15px 15px rgb(200, 200, 200), 16px 16px rgb(200, 200, 200), 17px 17px rgb(200, 200, 200), 18px 18px rgb(200, 200, 200), 19px 19px rgb(200, 200, 200), 20px 20px rgb(200, 200, 200), 21px 21px rgb(200, 200, 200), 22px 22px rgb(200, 200, 200), 23px 23px rgb(200, 200, 200), 24px 24px rgb(200, 200, 200), 25px 25px rgb(200, 200, 200), 26px 26px rgb(200, 200, 200), 27px 27px rgb(200, 200, 200), 28px 28px rgb(200, 200, 200), 29px 29px rgb(200, 200, 200), 30px 30px rgb(200, 200, 200), 31px 31px rgb(200, 200, 200), 32px 32px rgb(200, 200, 200), 33px 33px rgb(200, 200, 200), 34px 34px rgb(200, 200, 200), 35px 35px rgb(200, 200, 200), 36px 36px rgb(200, 200, 200), 37px 37px rgb(200, 200, 200), 38px 38px rgb(200, 200, 200), 39px 39px rgb(200, 200, 200), 40px 40px rgb(200, 200, 200), 41px 41px rgb(200, 200, 200);
	height: 100%;
	width: 100%;
	font-size: 12px;
	text-align: center;
}
.required_cat {
	color: #e4003a;
}