#notify h4 {
	text-align:left;
	border-bottom:1px solid #A9A9A9;
	padding-bottom:10px;
	font-size:14px;
	margin-top: 8px
}
.hidden {
	display:none !important;
}
.center { 
	text-align:center;
	margin:10px 0 10px 0;
}
.center > input[type="text"] {
	width: 100%;
	height:22px;
	display: inline-block;
	text-align:center;
	box-sizing: border-box;
}
input[name="captcha"] {
	width:150px !important;
	margin-bottom:5px;
}
.center > textarea {
	width: 100%;
	display: inline-block;
	text-align:left;
	box-sizing: border-box;
}
input[type=submit] {
	cursor: pointer;
    color: #FFFFFF;
    line-height: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    /*background: url('../../theme/default/image/button.png') repeat-x;*/
	background: linear-gradient(to top, #079BDC, #28B0EC);
    -webkit-border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -khtml-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
	margin: 0;
    border: 0;
    height: 36px;
    padding: 0px 70px 0px 70px;
}
.error {
	margin-top: 5px;
    color: #FF0000;
    display: block;
	font-size:14px;
    
}
.success-block{
	margin-top: 45px;
    display: block;
    font-size: 20px;
    font-weight: normal;
    color: green;
	text-align: center;

}
a.notify {
	display: inline-block;
    text-decoration: none;
    height: 19px;
    padding: 5px 12px 0px 12px;
}
.notify:visited {
	color:#FFFFFF;
	text-decoration: none;
}
.notify {
	cursor: pointer;
	color: #FFFFFF;
	line-height: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background: url('../icons/button.png') repeat-x;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	margin: 0;
    border: 0;
    height: 24px;
    padding: 0px 12px 0px 12px;
}
.notify:hover {
	background-position: 0px -24px;
}

#cboxWrapper{
	border-radius:10px;
}

/**********************************************************correction***********************************************************************/

	.left-block{
		float:left;
		width:50%;
		padding-left:15px;
		padding-right:15px;
		box-sizing:border-box;
	}
	
	.right-block{
		float: right;
		width: 50%;
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
		position: relative;
		min-height: 228px;
	}
	
	.mail-block{
		clear:both;
	}
	
	.left-mail-block{
		float:left;
		width:50%;
		padding-left:15px;
		padding-right:15px;
		box-sizing:border-box;
		max-height:60px;
	}
	
	.left-mail-block .left{
		margin-bottom:30px;
	}
	
	.left-mail-block input{
		width:100%;
		border-radius:5px;
		border:1px solid #A9A9A9;
		height:20px;
	}
	
	.right-mail-block{
		float:right;
		width:50%;
		padding-left:15px;
		padding-right:15px;
		box-sizing:border-box;
		max-height:60px;
	}
	
	.right-mail-block input{
		width:100%;
		border-radius:5px;
		border:1px solid #A9A9A9;
		height:20px;
	}
	
	.right-mail-block .left{
		margin-bottom:30px;
	}
	
	.right-mail-block .button{
		width:100%;
		box-sizing:border-box;
		border:1px solid #A9A9A9;
	}
	
	.comment-block{
		padding-left:15px;
		padding-right:15px;
		clear:both;
	}
	
	.comment-block textarea{
		width:100%;
		border-radius:5px;
	}
	

	.info-item {
		clear:both;
		margin-top: 25px;
	}
	
	.info-item input{
		    max-width: 197px;
				border: none;
				outline: none;
				background: #fff;
				color: #000;
				font-weight: bold;
				font-size: 35px;
	}
	
	.info-group{
		display:inline-block;
	}
	
#notify .price{
		position:absolute;
		bottom:0px;
		text-align:center;
	}
	
	#notify .options{
		min-width: 215px;
		margin-top: 10px;
		clear:both;
	}
	
	.options > label{
		float:left;
	}
	
	.options > input{
		float:left;
		max-width: 140px;
		border:none;
		outline:none;
		background:#fff;
		color:#000;
		margin-left:5px;
	}
	
	.cover-block{
		width: 197px;
		height: 227px;
		position: absolute;
	}
	
	.info-item.price .info-group{
		display:none;
	}
	
.info-item.price  p{
		max-width: 197px;
		border: none;
		outline: none;
		background: #fff;
		color: #000;
		font-weight: bold;
		font-size: 35px;
	}
	
	.left-block-bottom{
		float: left;
		width: 50%;
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
		position: relative;
	}
	
	.right-block-bottom{
		float: right;
		width: 50%;
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
		position: relative;
	}
	
	#notify .left-block img{
		max-height:228px;
		max-width:228px;
	}
	#notify #input-product{
	    display: none;
	}
	#notify .info-item input + p {
    max-width: 197px;
    border: none;
    outline: none;
    background: #fff;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial;
}
/**********************************************************correction***********************************************************************/